.hero {
    background-image: url(./carrot_black.jpeg);
    background-size: cover, contain;
    background-position: center;
}

.cta {
    background-size: 0px 100%;
    width: fit-content;
    background-repeat: no-repeat;

    background-image: linear-gradient(orange, orange);
    transition: background-size 0.3s ease-in-out, color 0.3s ease-in;
    // background-position: left center;
}

.cta:hover {
    background-size: 100% 100%;
    color: white;
}

.title {
    font-size: 5rem;
}
