.navlink {
    background-image: linear-gradient(gray, gray);
    background-size: 0% 0px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    transition: background-size 300ms ease;
}

.navlink:hover {
    background-size: 100% 1px;
}

.navbar {
    /* background-color: gray; */
    height: 7vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 0;
    text-shadow: 1px, 1px, 1px rgba(50, 50, 50, 0.1);
}

.notScrolled {
    position: fixed;
    /* transition-duration: 5000ms; */
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.0));

    // background: rgba(211, 203, 99, 0.95);
    // animation: navbar_exit_animation 300ms;
}

.scrolled {
    position: fixed;
    /* transition-duration: 5000ms; */
    z-index: 1000;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.1);

    animation: navbar_animation 400ms;
}

@keyframes navbar_animation {
    0% {
        background: rgba(255, 255, 255, 0);
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
        /* background-color: yellow; */
    }
    100% {
        background: rgba(255, 255, 255, 1);
    }
    /* 100% {
      opacity: 1;
      /* background: red; */
}

@keyframes navbar_exit_animation {
    0% {
        background: rgba(255, 255, 255, 1);
    }
    100% {
        background: rgba(255, 255, 255, 0);
    }
}
